* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

/*==========================================SECTION HEADER ================================================*/

body {
	background-color: rgb(37, 36, 36);
}

.wrapper {
	max-width: 100%;
	overflow: hidden;
	min-height: 100%;
	display: flex; flex-direction: column;
}
.container {
	max-width: 1350px;
	margin: auto;
	background-color: rgb(2, 2, 2);
}
.nav {
}
.header__menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
}

.logo {
	padding-left: 20px;
}
.menu__link {
	display: flex;
	padding-right: 20px;
}

.menu__item {
	font-family: "Montserrat";
	font-style: normal;
	padding-left: 34px;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
}

/*==========================================SECTION ABOUT ME ================================================*/

main{
	flex: 1 1 auto;
}

.section__content {
	display: flex;
}
.section__body {
	flex-direction: column;
	padding: 0 98px;
}
.body__title {
	padding-top: 147px;
	font-family: "Cinzel";
	font-style: normal;
	font-weight: 500;
	font-size: 64px;
	line-height: 77px;
	background: linear-gradient(295.38deg, #ffe5a2 4.89%, #bf841a 50.44%, #ffcd74 95.06%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
}
.body__text {
	text-align: center;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 50px;
	color: #eff3fb;
	padding-top: 40px;
}
.body__button {
	padding-top: 37px;
	display: flex;
	justify-content: center;
}
.buttons__color {
	padding: 5px 50px;
	background: linear-gradient(295.38deg, #ffe5a2 4.89%, #bf841a 50.44%, #ffcd74 95.06%);
	border-radius: 8px;
}
.text__button {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 50px;
	color: #0a0d11;
}
.section__image {
	padding-top: 85px;
}
.bgg {
	opacity: 0.8;
}

/*==========================================SECTION CONTACT ME ================================================*/

.section__title {
	font-family: "Cinzel";
	font-style: normal;
	font-weight: 500;
	font-size: 64px;
	line-height: 77px;
	background: linear-gradient(295.38deg, #ffe5a2 4.89%, #bf841a 50.44%, #ffcd74 95.06%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	padding-top: 80px;
}

.section__logo {
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
}

.logo__column-5 {
	padding-top: 80px;
}
.logo__vk {
	text-align: center;
}
.logo__title {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 50px;
	background: linear-gradient(295.38deg, #ffe5a2 4.89%, #bf841a 50.44%, #ffcd74 95.06%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.logo__text {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 50px;
	color: #eff3fb;
}
.logo__img {
}

/*==========================================SECTION SKILLS ================================================*/

.section__contant {
	padding-top: 100px;
}
.skills {
}
.skills__title {
	text-align: center;
	font-family: "Cinzel";
	font-style: normal;
	font-weight: 500;
	font-size: 64px;
	line-height: 77px;
	background: linear-gradient(295.38deg, #ffe5a2 4.89%, #bf841a 50.44%, #ffcd74 95.06%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.skills__column-4 {
	display: flex;
	padding: 80px 15px;
}

.skills__image {
}

.skills__container {
	text-align: center;
	padding-left: 300px;
}
.container__title {
	text-align: center;
	font-family: "Cinzel";
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 77px;
	background: linear-gradient(295.38deg, #ffe5a2 4.89%, #bf841a 50.44%, #ffcd74 95.06%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.container__text {
	color: #eff3fb;
	text-align: start;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
}

.coumnss {
	padding-top: 20px;
}

/*==========================================FOOTER================================================*/


.footer__contant {display: flex;
	align-items: center;
	justify-content: center;
}
.footer__logo {
}
.footer__text {
	color: #eff3fb;
	text-align: start;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
}